#landing {
    width: 100%;
    height: 100vh;
    
    position:relative;
    background-image: url("../../../../dist/Assets/BG.png");
    background-size: cover;
}

#landing header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem 1rem 5rem;

    opacity: 0;
    animation: fade-in-animation 3000ms forwards;
}

#landing header a{
    fill:white;
    margin-left: 1rem;
}

#landing header div a img{
    width: 2rem;
    height: 2rem;
}

#landing header div a img:hover{
    scale: 1.3;
    animation: scale-animation 200ms;
}

#landing section{
    width: 100%;
    height: auto;
    padding: 0 5rem 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    opacity: 0;
    animation: fade-in-animation 3500ms 500ms forwards;
}

#landing section h1{
    color: white;
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

#landing section img{
    width: 17rem;
    margin-right: 8rem;
}

@keyframes scale-animation{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.3;
    }
}

@keyframes fade-in-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* MEDIA QUERY: */
/* Mobile 375  ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

#landing header{
    padding: 1rem 2rem;
}

#landing header a{
    margin-left: 0;
}

#landing header div a img{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
}

#landing section{
    flex-direction: column-reverse;
    padding: 0rem 1rem;
}

#landing section div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
 
#landing section h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

#landing section img{
    width: 60%;
    margin-right: 0rem;
}

#landing section .link-button{
    width: 100%;
    height: 3rem;
}

}

/* iPad 735  ----------- */
@media only screen 
and (min-device-width : 735px) 
and (max-device-width : 1024px) {
/* Styles */

#landing header{
    padding: 2rem 5rem;
}

#landing section{
    position: relative;
    top: 35%;
    transform: translate(0, -50%);
}

#landing section h1{
    font-size: 2.5rem;
}
#landing section img{
    width: 16rem;
    margin-right: 0rem;
}

}